#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	./configure --prefix=/usr --enable-shared=no

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/crun

override_dh_auto_test:
	# Tests require root or user namespaces
