#!/usr/bin/make -f

export DH_VERBOSE = 1
export VERSION = 2026_05_26.038c51e

%:
	dh $@

override_dh_auto_build:
	$(MAKE) prefix=/usr VERSION=$(VERSION)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/passt prefix=/usr

override_dh_auto_test:
	# Tests require network namespaces
